<!-- Toolbar -->
<div>
  <mat-toolbar color="accent">
    <button
      style="
        width: 4%;
        margin: 5px 0 0 10px !important;
        position: relative;
        z-index: 0;
        padding: 0.2em;
        margin: -0.05em;
      "
      color="primary"
      mat-icon-button
      (click)="menuOpened(opened)"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <mat-toolbar-row
      style="font-size: 55px; justify-content: center; margin-top: -40px"
      >{{ name }}</mat-toolbar-row
    >

    <mat-toolbar-row
      style="justify-content: center; font-size: 30px; margin-top: -13px"
      >{{ headerDetails }}</mat-toolbar-row
    >
  </mat-toolbar>
</div>
