.container
    min-width: 100vw
    background-image: url(~src/assets/images/header.webp)
    background-size: 150%
    background-position: center
    background-repeat: no-repeat
    &__name
        font-size: 2rem
        justify-content: center
        color: #e1d3d3bd
    &__details
        justify-content: center
        font-size: 1.2rem
        margin-top: -.8rem
        color: #e1d3d3bd

    @media screen and (max-width: 535px)
        .container
            &__name
                font-size: 1rem
                margin-top: -0.25rem
            &__details
                font-size: .45rem
                margin: -1.5rem 0px -2rem 0
