<style>
  .body {
    text-align: center;
    word-wrap: break-word;
  }
  .header {
    font-weight: bolder;
    font-size: large;
  }
  .table {
    width: 50%;
    height: fit-content;
    margin:15px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid;
  }
  .table th {
    display: flex;
    justify-content: center;
    margin:5px;
  }
  .table td {
    border: 1px solid;
    padding: 5px;
  }
</style>
<div class="body">
  <div>
    <div class="header">Summary</div>
    <ul>
      <li style="display: block;" *ngFor="let x of summary">{{ x }}</li>
    </ul>
  </div>
  <div>
    <div class="header">Career Objectives</div>
    <p>{{ career_objective }}</p>
  </div>
  <div>
    <div class="header">Skillsets</div>
    <div class="table">
      <table>
        <th style="display: table-caption;">Technical Skill Grid</th>
        <tbody>
          <tr *ngFor="let key of skillGridKeys; let i = index">
            <td>{{ key }}</td>
            <td>{{ skills[i] }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div>
    <div class="header">Education</div>
    <div class="table">
      <table>
        <div>
          <th class="sub-header">College</th>
          <tbody>
            <tr *ngFor="let x of college_keys; let i = index">
              <td>{{ x }}</td>
              <td>{{ college[i] }}</td>
            </tr>
          </tbody>
        </div>
        <div>
          <th class="sub-header">Secondary</th>
          <tbody>
            <tr *ngFor="let x of secondary_keys; let i = index">
              <td>{{ x }}</td>
              <td>{{ secondary[i] }}</td>
            </tr>
          </tbody>
        </div>
      </table>
    </div>
  </div>
  <div>
    <div class="header">Employment Profile</div>
    <div class="table">
      <table>
        <div>
          <th class="sub-header">Current Employer</th>
          <tbody>
            <tr *ngFor="let x of employment_keys; let i = index">
              <td>{{ x }}</td>
              <td>{{ current_employer[i] }}</td>
            </tr>
          </tbody>
        </div>
        <div>
          <th class="sub-header">Past Employers</th>
          <tbody></tbody>
        </div>
      </table>
    </div>
  </div>
  <div>
    <div class="header">Projects</div>
    <div *ngFor="let x of projects; let i = index">
      <div class="table">
        <table>
          <th style="display: table-caption;">
            {{ i + 1 }}
          </th>
          <tbody>
            <tr *ngFor="let key of project_keys; let _i = index">
              <td>{{ key }}</td>
              <td>{{ x[_i] }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="header">
    <div>Certifications</div>
  </div>
</div>
