<style>
  .mat-card-header {
    font-size: large;
    margin-bottom: 15px;
  }
  .body {
    margin: 0 0 0 0;
    text-align: center;
    word-wrap: break-word;
  }
  .header {
    font-weight: bolder;
    font-size: large;
  }
  .table {
    width: 50%;
    height: fit-content;
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
  }
  .table th {
    display: flex;
  }
  .table td {
    border: 0.1px solid;
    border-top: 0;
  }
  .table tr td:first-child {
    border-left: 0;
  }
  .table tr:last-child td {
    border-bottom: 0;
  }
  .table tr td:last-child {
    border-right: 0;
  }
  .sub-block {
    margin: 15px 5px;
  }
  .mat-card-content ul {
    padding: 0;
  }
  td span {
    display: inline-flex;
    justify-content: center;
    margin-bottom: -8px;
    margin-top: 2px;
  }
  th p {
    margin: 5px -10px;
  }
</style>
<title>Home</title>
<div style="text-align: center; font-size: large">
  <div class="sub-block">
    <mat-card-header>Summary</mat-card-header>
    <mat-card-content>
      <ul>
        <li style="display: block" *ngFor="let x of summary">{{ x }}</li>
      </ul>
    </mat-card-content>
  </div>
  <div class="sub-block">
    <mat-card-header>Skillsets</mat-card-header>
    <mat-card-content>
      <div class="table">
        <table>
          <tbody>
            <tr *ngFor="let key of skillGridKeys; let i = index">
              <td style="width: 50%">
                <span
                  >{{ key }}:
                  <p style="margin-right: 3px">
                    {{ skills[i] }}
                  </p></span
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </mat-card-content>
  </div>
  <div class="sub-block">
    <mat-card-header>Education</mat-card-header>
    <mat-card-content>
      <div class="table">
        <table>
          <div>
            <tbody>
              <tr *ngFor="let x of secondary_keys; let i = index">
                <td style="width: 50%">
                  {{ x }}:
                  <span>
                    <p>
                      {{ secondary[i] }}
                    </p></span
                  >
                </td>
              </tr>
              <tr *ngFor="let x of college_keys; let i = index">
                <td style="width: 50%">
                  {{ x }}:
                  <span>
                    <p>
                      {{ college[i] }}
                    </p></span
                  >
                </td>
              </tr>
            </tbody>
          </div>
        </table>
      </div>
    </mat-card-content>
  </div>
  <div class="sub-block">
    <mat-card-header>Current Employer</mat-card-header>
    <mat-card-content>
      <div class="table">
        <table>
          <div>
            <tbody>
              <tr *ngFor="let x of employment_keys; let i = index">
                <td style="width: 5%">
                  {{ x }}:
                  <span>
                    <p>
                      {{ current_employer[i] }}
                    </p></span
                  >
                </td>
              </tr>
            </tbody>
          </div>
          <div>
            <!-- <th class="sub-header">Past Employers</th> -->
            <tbody></tbody>
          </div>
        </table>
      </div>
    </mat-card-content>
  </div>
  <div class="sub-block">
    <mat-card-header>Projects</mat-card-header>
    <mat-card-content>
      <div *ngFor="let x of projects; let i = index">
        <div class="table">
          <table>
            <tbody>
              <tr *ngFor="let key of project_keys; let _i = index">
                <td style="width: 50%">
                  {{ key }}:
                  <span>
                    <p>
                      {{ x[_i] }}
                    </p></span
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </mat-card-content>
  </div>
  <div class="sub-block">
    <mat-card-header>Certifications</mat-card-header>
    <mat-card-content>
      <div *ngFor="let x of certifications; let i = index">
        <div class="table">
          <table>
            <tbody>
              <tr *ngFor="let key of certification_keys; let _i = index">
                <td style="width: 10%">
                  <span>
                    <p *ngIf="_i > 0">{{ key }}:</p>
                    <p *ngIf="_i == 0">
                      <a
                        href="{{ x[_i + 2] }}"
                        target="_blank"
                        style="text-decoration: none; cursor: pointer"
                      >
                        {{ x[_i] }}
                      </a>
                    </p>
                    <p *ngIf="_i > 0">
                      {{ x[_i] }}
                    </p>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </mat-card-content>
  </div>
</div>
