<style>
  ul {
    padding: 0;
    margin: 0.3rem;
  }
</style>

<div class="container admin">
  <div style="display: flex; justify-content: center">
    <mat-card class="admin__card"
      >
<!--   provide three stacked lists of actions, charts, plugins  -->
      <mat-card-header class="container__card__header">actions</mat-card-header>
      <mat-card-content class="sub-block">
        <ul *ngFor="let item of actions; index as i">
          <li>
            {{ item.name }}
            <button (click)="trigger(actions[i].source)">Trigger</button>
          </li>
        </ul>
      </mat-card-content>
    </mat-card>
  </div>
</div>
