<style>
  ul {
    padding: 0;
    margin: 0.3rem;
  }
</style>

<div class="container">
  <div style="display: flex; justify-content: center">
    <mat-card class="container__card"
      ><mat-card-header class="card-header">actions</mat-card-header>
      <mat-card-content class="sub-block">
        <ul *ngFor="let item of plugins; index as i">
          <li>
            {{ item.name }}
            <button (click)="trigger(plugins[i].endpoint)">Trigger</button>
          </li>
        </ul>
      </mat-card-content>
    </mat-card>
  </div>
</div>
