<div class="container">
  <mat-card class="container container__card">
    <mat-card-header class="card-header">PRIVACY POLICY</mat-card-header>

    <mat-card-content>
      <mat-card-header>Collection of Personal Information</mat-card-header>
      <div>
        We collect personal information such as name and email address. We
        receive and store this information and can use this information to
        contact you regarding our products/services. We use the personal
        information collect from visitors in the following ways:
        <ul>
          <li>To respond to an inquiry.</li>
          <li>
            To contact you to discuss your interest in any of our
            products/services.
          </li>
        </ul>

        The information we collect on or through our website may include:
        <ul>
          <li>
            Information that you provide by filling in forms on our website.
          </li>
          <li>
            Records and copies of your correspondence (including e-mail
            addresses) if you contact us.
          </li>
        </ul>
      </div>
    </mat-card-content>

    <mat-card-content>
      <mat-card-header>Visitors</mat-card-header>
      <div>
        Non-PIIs made available by web browsers and servers, such as browser
        type, date, and time of visitor’s requests etc may also be collected to
        help us better understand how visitors use the website. All connections
        to the web servers are logged and includes your IP address, which is
        used to administer and diagnose problems with the site.
      </div>
    </mat-card-content>

    <mat-card-content>
      <mat-card-header>External Links</mat-card-header>
      <div>
        We provide links to other websites. Unless otherwise stated, we do not
        control these websites and this Privacy Policy does not apply.
      </div>
    </mat-card-content>

    <mat-card-content>
      <mat-card-header>Consumer Rights</mat-card-header>
      <div>
        If you have any questions or concerns regarding the Privacy Policy or
        you would like to request removal of your collected information from our
        database, please reach out using the social media or email links
        provided in the footer of the webpage.
      </div>
    </mat-card-content>

    <mat-card-content>
      <mat-card-header>Disclaimer</mat-card-header>
      <div>
        We will never sell or rent lists of our clients, our clients’
        professional advisors, client customer’s information, non-PII or IP
        related data. We may disclose information if legally required to do so
        to comply with a legal process.
      </div>
    </mat-card-content>
  </mat-card>
</div>
