<mat-sidenav-container>
  <mat-sidenav
    style="
      width: 150px;
      background-color: #fbc02d;
      text-align: center;
      font-size: medium;
    "
    mode="push"
    [(opened)]="opened"
  >
    <ul
      style="
        list-style-type: none;
        padding-inline-start: 0px;
        font-size: medium;
        padding-bottom: 10px;
      "
    >
      <li>
        <a
          routerLink="/todos"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Todos</a
        >
      </li>
      <p></p>
      <li>
        <a
          routerLink="/techblog"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Articles</a
        >
      </li>
      <p></p>
    </ul>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header> </app-header>
  </mat-sidenav-content>
</mat-sidenav-container>
