<style>
  .sub-block {
    margin: 15px 5px;
  }
  mat-card-header {
    font-size: large;
    display: flex;
    justify-content: center;
  }
  ul {
    padding: 0;
    margin-left: 38%;
    list-style: none;
  }
</style>
<app-header></app-header>
<div *ngFor="let task of todoList; let i = index">
  <div *ngIf="i == 0">
    <mat-card-header class="sub-block">TODO</mat-card-header>
    <ul>
      <li *ngFor="let todo of task[i + 1].Value">
        <input type="checkbox" (click)="initSnackBar($event)" />
        <span>{{ todo }}</span>
      </li>
    </ul>
    <mat-card-header class="sub-block">DONE</mat-card-header>
    <ul>
      <li *ngFor="let todo of task[i + 2].Value">
        <input type="checkbox" checked (click)="initSnackBar($event)" />
        <span>{{ todo }}</span>
      </li>
    </ul>
  </div>
</div>
<app-footer></app-footer>
