.container
    height: 2rem
    justify-content: space-around
    min-width: 100vw
    background: #000

    &__button
        text-decoration: none
        cursor: pointer
        color: #fff

        &:hover
            color: #e65c11
