.container
    height: 20px
    justify-content: space-around
    font: black

    &:hover
        background-color: #f5f5f5

    &__button
        text-decoration: none
        cursor: pointer

        &:hover
            color: #e65c11
