<mat-toolbar style="height: 20px; justify-content: space-around; font: black">
  <a
    routerLink="/techblog"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    style="text-decoration: none"
    >Articles</a
  >
  <button mat-icon-button routerLink="/home" routerLinkActive="active">
    <mat-icon>home</mat-icon>
  </button>
  <a
    routerLink="/todos"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    style="text-decoration: none"
    >Todos</a
  >
</mat-toolbar>
