<mat-toolbar class="container" color="accent">
  <a
    routerLink="/techblog"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    class="container__button"
    >Articles</a
  >
  <button
    class="container__button"
    mat-icon-button
    routerLink="/home"
    routerLinkActive="active"
  >
    <mat-icon>home</mat-icon>
  </button>
  <a
    routerLink="/todos"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    class="container__button"
    >Todos</a
  >
</mat-toolbar>
