.container
    height: .8rem
    justify-content: space-around
    display: flex
    min-width: 100vw

    &:hover
        background-color: #f5f5f5

    &__button
        text-decoration: none
        cursor: pointer
        color: rgba(0,0,0,.87)

        &:hover
            color: #e65c11
