.container
    flex-direction: row
    min-width: 100vw
    justify-content: center

    &__card
        margin: .5rem .25rem 0 .2rem
        border-radius: .5rem

    &__card-header
        font-size: 1rem
        font-weight: 500

    &__other-cards
        height: 45vw
        align-items: center
        justify-content: center

.experience
  display: flex
  flex-direction: column
  align-items: center

.experience-tasks
  align-items: center
  display: flex
  flex-direction: column
  line-height: 1.5rem

.role-title
  font-weight: 500

.experience-role
  justify-content: center
  display: flex

.experience-tasks, .experience-role, .role-title, .experience-company
  margin: 0

::-webkit-scrollbar
  width: 0
  //background: transparent

a
    text-decoration: none
    cursor: pointer
    color: inherit
    &:hover
        text-decoration: underline
        color: #000000

tr ul
    max-height: 6.7vw
    overflow: hidden
    overflow-y: scroll

ng-container, span
  cursor: pointer
