.container
    display: flex
    flex-direction: row

    &__card
        margin: 15px 5px 0 15px
        border-radius: 15px

        &:hover
            box-shadow: 2px 15px 30px 3px #ffd740

    &__card-header
        font-size: 1rem
        font-weight: 500

    &__github-card
        width: 50vw
        height: 35vw
        display: flex
        align-items: center

    &__other-cards
        height: 35vw
        align-items: center

    &__button-card
        width: 3vw
        height: 16vw
        margin: 10.3vw 0 0 1vw
        justify-content: space-around

        &:hover
            background-color: #ffd740
            box-shadow: 2px 15px 30px 3px #ffd740

        &__buttons
            position: absolute
            justify-content: left

            &__card
                background: #ffd740
                height: 6vw
                cursor: pointer
                border-radius: 15px
                justify-content: center

                &:hover
                    background: #f5f5f5
                    color: #e65c11
                    box-shadow: 2px 15px 30px 3px #ffd740

                ::ng-deep
                    .container__button-card__buttons__card__info-icon mat-icon
                        margin: 30px 0 0 -11px

a
    text-decoration: none
    cursor: pointer
    color: inherit
    &:hover
        text-decoration: underline
        color: #ffd740

tr ul
    max-height: 6.7vw
    overflow: hidden
    overflow-y: scroll
