.mat-card-header
    font-size: 25px
    font-weight: 410
    display: flex
    justify-content: center

.mat-card-content
    display: flex
    justify-content: center
    margin-top: 5%

.mat-card
    height: 350px
    width: 0 auto

.top-card
    width: 95%
    margin: 15px
    border-radius: 15px

    &:hover
        box-shadow: 2px 15px 30px 3px #ffd740

.container
    display: flex
    flex-direction: row

    &__bottom-card
        margin: 15px 5px 0 15px
        width: 50%
        height: 250px
        border-radius: 15px

        &:hover
            box-shadow: 2px 15px 30px 3px #ffd740

        &__button-container
            width: 5px
            margin: 15px 15px 0 3px
            height: 250px
            border-radius: 15px

            &:hover
                background-color: #ffd740
                box-shadow: 2px 15px 30px 3px #ffd740

        &__content
            display: flex
            justify-content: center

            &__list
                margin-top: 15px
                list-style: none

            &__spinner
                margin-top: 5% !important

            &__button
                position: absolute
                justify-content: left

                &__card
                    background: #ffd740
                    height: 85px
                    width: -webkit-fill-available
                    cursor: pointer

                    &:hover
                        background: #f5f5f5
                        color: #e65c11

                    ::ng-deep
                        .container__bottom-card__content__button__card__info-icon mat-icon
                            margin: 30px 0 0 -11px
