<div class="container">
  <div style="display: flex; justify-content: center">
    <mat-card class="container__card"
      ><mat-card-header class="card-header">charts</mat-card-header>
      <mat-card-content class="sub-block">
        <mat-form-field appearance="fill">
          <mat-label>Select an Option: </mat-label>
          <mat-select [(value)]="selectedOption">
            <mat-option
              *ngFor="let option of chartSrcOptions"
              [value]="option.value"
            >
              {{ option.label }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card-content>
      <mat-card-content>
        <figure style="padding: 0;">
          <embed [src]="getSelectedOptionSrc()" width="120%" height="130%"/>
        </figure>
      </mat-card-content>
    </mat-card>
  </div>
</div>

