.container
    display: flex
    flex-direction: column
    width: 70%

.hello
    margin-block-start: .9vh
    margin-block-end: .9vh
    font-size: 6vh
    font-weight: 400

p
    text-decoration: none
    margin-block-start: .55vh
    margin-block-end: .55vh
    font-weight: 100
    font-size: 2.75vh