<div class="container">
  <p class="hello">Hello World!</p>
  <p>I'm Shashank, and this is my portfolio.</p>
  <p>
    I build distributed systems at
    <a href="https://npci.org.in">National Payments Corporation of India</a
    >.
    At leisure, I can be found
    <a href="https://www.upwork.com/freelancers/~01812e02099fc1c28c">here</a>.
    Besides programming, I love to play
    <a href="https://www.chess.com/member/ttefabob">chess</a>, Cricket and
    Basketball, and read and watch fiction-fantasy.
  </p>
  <p>
    This website contains blogs that I write occasionally,  and interesting
    projects that I build in my free time. 
    I also write about my experiences in the industry, and my learnings from
    them. 
    Most of the content will be in English, but some of it might be in Hindi or
    Bhojpuri (and will be denoted as such).
    Links to the sections of the website can be found at the top, links to the
    posts can be found below. 
  </p>
</div>
