<div class="container" style="width: -webkit-fill-available; height: 70vh; justify-content: center;">
  <p class="center">Hi, I'm Shashank, and this is my portfolio.</p>
  <p class="center">I build distributed systems at National Payments Corporation of India.</p>
  <p class="center">This website contains blogs about my learnings from the industry, and interesting projects that I build in my free time.</p>
  <p class="center">Most of the content will be in English(unless mentioned otherwise), but some of it might be in Hindi or Bhojpuri.</p>
  <p class="center">Besides programming, I play chess, and read and watch fiction-fantasy.</p>
  <p class="center">Relevant links can be found in respective sections.</p>
</div>

